<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container px-2 py-0">
        <h2 class="pb-2 border-bottom">Cadastro Compativel</h2>



        <div class="row">
            <div class="form-group col-md-4">
                <label for="codigo_ori">Codigo original</label>
                <input type="text" class="form-control" id='fm-inp-codigo-ori'>
            </div>

            <div class="form-group col-md-4">
                <label for="codigo_ori">Codigo compativel</label>
                <input type="text" class="form-control" id='fm-inp-codigo-comp'>
            </div>

            
        </div>

        <div class="row">

            <div class="form-group col-md-4">
                <label for="campo_nome">Nome compativel</label>
                <input type="text" class="form-control" id='fm-inp-nome-comp'>
            </div>

            <div class="form-group col-md-4">
                <label for="campo_fabricante">Fabricante</label>
                <input type="text" class="form-control" id='fm-inp-fabricante-comp'>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="campo_modelo">Modelo</label>
                <input type="text" class="form-control" id='fm-inp-modelo-comp'>
            </div>

    </div>

    <div class="row">
            <div class="form-group col-md-4">
               

                <div class="mb-3">
                    <label for="texto_observacao" class="form-label">Observação</label>
                    <textarea class="form-control" id="fm-inp-obsevacao-comp" rows="3"></textarea>
                  </div>
            </div>

       </div> 

        <div class="row">
            <div class="form-group col-md-2">
                <br>
                <button class="form-control" type="button" onclick="addPecas_comp()">
                    CADASTRAR</button>
            </div>

        </div>

    </div>






    <!--
    <div id='fm-card-cad'>
        <form class="form-cad" name="frm-cadastro" action="">
            <div id='fm-card-header'>
                <h2>CADASTRO</h2>
            </div>

            <div class='card-content'>
                <div class="card-content-area">
                    <label for="">Codigo original</label>
                    <input type="text" name="inp-codigo" id='fm-inp-codigo'>
                </div>
                              

                <div class="card-content-area">
                    <label for="">Codigo</label>
                    <input type="text" name="inp-codigo" id='fm-inp-codigo'>
                </div>

            <div class="card-content-area">
                    <label for="">Nome</label>
                    <input type="text" name="inp-nome" id='fm-inp-nome'>
                </div>

                <div class="card-content-area">
                    <label for="">Fabricante</label>
                    <input type="text" name="inp-fabricante" id='fm-inp-fabricante'>
                </div>

                <div class="card-content-area">
                    <label for="">Modelo</label>
                    <input type="text" name="inp-modelo" id='fm-inp-modelo'>
                </div>

                <div class="card-content-area">
                    <label for="">Linha</label>
                    <div>
                        <input type="radio" name="in-codigo" id='fm-inp-linha' value="continuada">
                        <label for="fm-inp-linha-cont">continuada</label>
                    </div>
                    <div>
                        <div>
                            <input type="radio" name="in-codigo" id='fm-inp-linha' value="descontinuada">
                            <label for="fm-inp-linha-desc">descontinuada</label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button name="cad-frm" type="button" onclick=addPecas_ori()>
                            CADASTRAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


-->
</body>

</html>